.panel {
    border: 1px solid;
    background-color: #66CC99;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
  }
  .titlelabel
{
    border: solid 2px #666666;
    border-radius: 5px;
    width: 27.5%;
    height: 40px;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #6699CC;
    vertical-align: center;
    margin-top: 100px;
    margin-left: 60px;
    font-weight: bold;
}

.disabledbutton
{
    border: solid 2px #666666;
    border-radius: 10px;
    height: 40px;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #6699CC;
    vertical-align: center;
    width:150px;
 }
.submitbutton
{
    border: solid 2px #666666;
    border-radius: 10px;
    width: 10%;
    height: 40px;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #CC8D66;
    vertical-align: center;
    margin-top: 80px;
    margin-left: 235px;
    font-weight: bold;
}
.backbutton
{
    border: solid 2px #666666;
    border-radius: 10px;
    width: 5%;
    height: 40px;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #CCCCFF;
    vertical-align: center;
    font-weight: bold; 
    margin-left: 58px;
}
table
{
width:100%;
margin-top: 50px;
margin-left:75px;
}

.textbox
{
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
    width: 450px;
}

.divclass
{
    margin-left: 50px;
    margin-bottom: 30px;
}

